.heading-image {
  display: block;
  width: 300px;
  margin: auto;
}
.heading-banner {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.sub_heading {
  text-align: center;
  font-size: 30px;
}

.blogpost-block {
  background-color: rgb(219, 213, 212);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  padding-right: 40px;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: left;
  margin-right: 40px;
}

body {
  background-color: rgb(78, 108, 169);
  margin: 0 0 0;
  font-size: 22px;
  font-family: "One Piece", sans-serif;
}

#bao {
  object-position: left;
}

.bounty {
  position: absolute;
  bottom: 30px;
  left: 340px;
  font-size: 25px;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
}
